.meme-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.meme-box img {
    max-width: 100%;
    object-fit: contain;
}

.meme-box .paimon {
    border-radius: 50%;
}

.meme-box .low-cortisol-dance {
    border-radius: 25%;
}